/* custom.css */

/* Change the background color of the navigation header */
.wy-side-nav-search {
    background: #f8dd23 /* FV Yellow*/
}

/* Change the background color of the main sidebar menu */
.wy-nav-side {
    background: #003ca6; /* FV Blue*/
}

.icon-home {
    color: #003ca6; /* FV Blue */
}

.home-icon-class svg {
    fill: #003ca6; /* FV Blue */
}
.wy-breadcrumbs a:visited {
    color: #003ca6; /* FV Blue */
}

.wy-nav-top a.icon-home {
    color: #003ca6; /* FV Blue */
}

.wy-menu-vertical a:hover {
    background-color: #003da6b9; /* Paler FV Blue */
    color: #ffffff; /* Optionally, change the text color on hover */
}

/* Change the text color of the left sidebar menu */
color: #FFFFFF; /* Black */
.caption span.caption-text { 
/*    color: #000000; /* Black */
    color: #ffffff; /* White */
}
.wy-nav-side caption-text a {
    /* color: #000000;     */
    color: #000000; /* Black) */
}
.wy-nav-side p.caption a {
    color: #000000; /* Black) */
}
.toctree-l1 > a {
    color: rgb(0, 0, 0);
}
/* Change the background color of the left sidebar menu level 1*/
.wy-menu > .caption > span.caption-text {
    color: #ffffff; /* white */
}

/* Change the background color of the left sidebar menu sublevels*/

.toctree-l2 {
    background-color:#e8f5f6; /* Light blue background */
}

/* Change the background and border color for the entire 'note' block */
.admonition.note {
    background-color: #f6f5e8; /* Cream background */
}

/* Change the background color of the 'note' title */
.admonition.note > .admonition-title {
    background-color: #1c3f56;  /* dark blue  */
}

/* Change the background and border color for the entire 'hint' block */
.admonition.hint {
    background-color: #e9f2f8 /* Light Blue */
}

/* Change the background color of the 'note' title */
.admonition.hint > .admonition-title {
    background-color: #4992c4;  /* medium blue  */
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

img {
    border: 1px solid #ccc; /* Example: 1px solid light gray border */
    padding: 5px; /* Optional: add some padding around the image inside the border */
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

/* Add border to figures with the class "bordered-figure" */
.bordered-figure {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

img {
    max-width: 20%; /* Adjust this percentage as needed */
    height: auto; /* Maintain aspect ratio */
}
